<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <title>ID Page</title>
</head>
<body>
    <%- include('../includes/header') %>
    <h1 class="title">Below are the user details for <%=data.firstname%> <%=data.lastname%></h1>
    <br>
    <div class="schedules">
        <table class="table table-bordered table-striped w-75">
            <thead>
              <tr>
                <th class="col1" scope="col"><strong>First</strong></th>
                <th class="col2" scope="col"><strong>Last</strong></th>
                <th class="col3" scope="col"><strong>Email</strong></th>
                <th class="col4" scope="col"><strong>Password</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col1"><%=data.firstname%></td>
                <td class="col2"><%=data.lastname%></td>
                <td class="col3"><%=data.email%></td>
                <td class="col4"><%=data.password%></td>
              </tr>
            </tbody>
          </table>
    </div>
    <%-include('../includes/footer') %>
    
</body>
</html>
